body {
  width: 200px;
  height: 405px;
  /* background-color: #000; */
  background-color: #9cdae0;
  color: #777;
  font-size: 13px;
  margin: 10px 20px 20px 10px;
  /* background-image: url(images/bg.gif);
  background-size: contain;
  background-repeat: no-repeat; */
}

#logo {
  border-radius: 5px 5px 0px 0px;
  background-color: #ffff74;
  padding: 5px;
  text-align: center;
  border-bottom: 2px dashed #ff3a6e;
}

#logo img {
  margin: 0 auto;
}

#logo h3 {
  color: #ff3a6e;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  margin: 0 auto;
}

::-webkit-datetime-edit {
  font-family: Arial, Helvetica, sans-serif;
}

#canvas {
  border-radius: 5px;
  background-color: #ffffff;
  /* box-shadow: 10px 10px #0071fb; */
  /* box-shadow: 10px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 10px 10px 5px rgb(0 113 251 / 0.25);
}

#canvas #search-form {
    padding: 20px;
}

input[type=checkbox], select {
  /* width: 100%; */
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  background-color: #ffffff;
  transition: .5s;
}

#counter {
  font-size: 13px;
}

input[type=text], select {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  background-color: #ffffff;
  transition: .5s;
  /* font-weight: bold; */
  /* font-size: 18px; */
  font-family: 'Courier New', Courier, monospace;
}

input[type=text]:hover {
  border-bottom: 1px solid #0071fb;
}

input[type=date], select {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  background-color: #ffffff;
  transition: .5s;
}

input[type=date]:hover {
  border-bottom: 1px solid #0071fb;
}

input:focus {
  outline: none !important;
  border: none;
  border-bottom: 1px solid #0071fb;
  background-color: #ffffff;
  transition: .5s;
}

input[type=submit] {
  width: 100%;
  background-color: #666666;
  color: white;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

input[type=submit]:hover {
  background-color: #ff3a6e;
}